In [47]:
import pandas as pd

In [48]:
data=pd.read_csv("csvfiles/customer_churn.csv")
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [49]:
x=data[["tenure"]]
x.head()

   tenure
0       1
1      34
2       2
3      45
4       2

In [50]:
y=data[["Churn"]]
y.head()

  Churn
0    No
1    No
2   Yes
3    No
4   Yes

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [52]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.35)

In [53]:
log_model=LogisticRegression()

In [54]:
log_model.fit(train_x,train_y)

c:\users\h.p\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\h.p\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
pred_y=log_model.predict(test_x)
pred_y[0:5]

array(['No', 'No', 'No', 'No', 'No'], dtype=object)

In [56]:
test_y.head()

     Churn
6584    No
6732    No
6249    No
2230    No
5435    No

In [57]:
from sklearn.metrics import confusion_matrix

In [58]:
a=confusion_matrix(test_y,pred_y)
a

array([[1802,    6],
       [ 658,    0]], dtype=int64)

In [59]:
accuracy=(a[0][0]+a[1][1])/a.sum()
accuracy

0.7307380373073804