In [33]:
import pandas as pd

In [34]:
iris=pd.read_csv("csvfiles/irisdata.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [35]:
x=iris[['SepalLengthCm']]
x.head()

   SepalLengthCm
0            5.1
1            4.9
2            4.7
3            4.6
4            5.0

In [36]:
y=iris[['Species']]
y.head()

       Species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [37]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [38]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.3)

In [39]:
dtc=DecisionTreeClassifier()

In [40]:
dtc.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [41]:
pred_y=dtc.predict(test_x)

In [42]:
test_y.head()

             Species
143   Iris-virginica
78   Iris-versicolor
91   Iris-versicolor
105   Iris-virginica
9        Iris-setosa

In [43]:
pred_y[0:5]

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa'], dtype=object)

In [44]:
from sklearn.metrics import confusion_matrix

In [45]:
a=confusion_matrix(test_y,pred_y)
a

array([[12,  1,  0],
       [ 2, 11,  5],
       [ 0,  6,  8]], dtype=int64)

In [46]:
accuracy=(a[0][0]+a[1][1]+a[2][2])/a.sum()
accuracy

0.6888888888888889