In [41]:
%matplotlib inline

#numerical library
import numpy as np

#import linear regression machine learning library
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

#import library for handeling data
import pandas as pd

#import plotting library
import matplotlib.pyplot as plt

#import seaborn for statistical plot 
import seaborn as sns

In [42]:
mpg_df = pd.read_csv("C:/Users/h.p/Desktop/ML_foundation/Ridge and Lasso Regression/car-mpg.csv")
mpg_df.head()

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino

In [43]:
mpg_df = mpg_df.drop('car_name',axis=1)
mpg_df.head()

    mpg  cyl   disp   hp    wt   acc  yr  origin  car_type
0  18.0    8  307.0  130  3504  12.0  70       1         0
1  15.0    8  350.0  165  3693  11.5  70       1         0
2  18.0    8  318.0  150  3436  11.0  70       1         0
3  16.0    8  304.0  150  3433  12.0  70       1         0
4  17.0    8  302.0  140  3449  10.5  70       1         0

In [44]:
mpg_df['origin'] = mpg_df['origin'].replace({1:"America",2:"Europe",3:"Ashia"})
mpg_df = pd.get_dummies(mpg_df, columns=['origin'])
mpg_df.head()

,mpg,cyl,disp,hp,wt,acc,yr,car_type,origin_America,origin_Ashia,origin_Europe
0,18.0,8,307.0,130,3504,12.0,70,0,1,0,0
1,15.0,8,350.0,165,3693,11.5,70,0,1,0,0
2,18.0,8,318.0,150,3436,11.0,70,0,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,0,1,0,0
4,17.0,8,302.0,140,3449,10.5,70,0,1,0,0

In [48]:
mpg_df = mpg_df.replace('?',np.nan)
mpg_df = mpg_df.apply(lambda x: x.fillna(x.median()),axis=0)
mpg_df.head()

,mpg,cyl,disp,hp,wt,acc,yr,car_type,origin_America,origin_Ashia,origin_Europe
0,18.0,8,307.0,130,3504,12.0,70,0,1,0,0
1,15.0,8,350.0,165,3693,11.5,70,0,1,0,0
2,18.0,8,318.0,150,3436,11.0,70,0,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,0,1,0,0
4,17.0,8,302.0,140,3449,10.5,70,0,1,0,0

In [55]:
#copy all the predictor variable into x dataframe.since mpg is dependent so drop it.
x= mpg_df.drop('mpg',axis=1)

# mpg is dependent variable so copy it into Y
y= mpg_df[['mpg']]

In [60]:
from sklearn import preprocessing

#scale all the columns of mpg_df it will produce numpy array
x_scaled = preprocessing.scale(x)
x_scaled = pd.DataFrame(x_scaled,columns=x.columns)   # ideally the training and test should be 

y_scaled = preprocessing.scale(y)
y_scaled = pd.DataFrame(y_scaled,columns=y.columns)   # ideally the training and test should be

In [71]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x_scaled,y_scaled,test_size=0.25,random_state=1)

In [72]:
regression_model=LinearRegression()
regression_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [73]:
for i,col_name in enumerate(x_train.columns):
    print("the coefficient of {} is {} ".format(col_name,regression_model.coef_[0][i]))

the coefficient of cyl is 0.2772302404697406
the coefficient of disp is 0.35447885063970147
the coefficient of hp is -0.20484501916561315
the coefficient of wt is -0.7328741666280342
the coefficient of acc is 0.0380891587904085
the coefficient of yr is 0.37703535013328376
the coefficient of car_type is 0.3687567864490086
the coefficient of origin_America is 14256491702598.324
the coefficient of origin_Ashia is 11749753216017.979
the coefficient of origin_Europe is 11215168417998.049

In [78]:
intercept = regression_model.intercept_[0]
print("Intercept for our model is {} ".format(intercept))

Intercept for our model is 0.020644506800854397

In [82]:
# Create a  regularize Ridge model
ridge = Ridge(alpha = 0.3)
ridge.fit(x_train,y_train)
print("Ridge model {}: ".format(ridge.coef_))

Ridge model :  [[ 0.292303    0.33174595 -0.20338688 -0.7180704   0.03282392  0.37944512
   0.3587562  -0.08172261  0.05226426  0.04912861]]

In [83]:
#Create a regularize Lasso model
lasso = Lasso(alpha=0.1)
lasso.fit(x_train,y_train)
print("Lasso model : ",lasso.coef_)

Lasso model :  [-0.         -0.         -0.02288344 -0.52067427  0.          0.2890683
  0.11160748 -0.02891466  0.          0.        ]

In [84]:
# Let us compare their score
print(regression_model.score(x_train,y_train))
print(regression_model.score(x_test,y_test))

0.8341116240080756
0.8584552695589499

In [85]:
print(ridge.score(x_train,y_train))
print(ridge.score(x_test,y_test))

0.8343385446094191
0.8582584230696331

In [86]:
print(lasso.score(x_train,y_train))
print(lasso.score(x_test,y_test))

0.7952115294892155
0.854782394138887

In [88]:
#Let us generate polynomial models reflecting the non-linear interaction between some dimensions
from sklearn.preprocessing import PolynomialFeatures

In [90]:
poly = PolynomialFeatures(degree = 2, interaction_only =True)

In [91]:
x_poly = poly.fit_transform(x_scaled)

x_train,x_test,y_train,y_test=train_test_split(x_poly,y,test_size=0.3,random_state = 4)
x_train.shape

(278, 56)

In [94]:
#fit a simple non regularized model on polynomial features
regression_model.fit(x_train,y_train)
print("Simple model : \n",regression_model.coef_[0])

Simple model :
 [-1.44207482e+14  4.72154063e+11  1.73213225e+00 -4.47818622e+00
 -4.70737445e+00 -7.28661301e-01  2.31630115e+00  6.28663442e+11
  1.65947252e+11 -1.51628911e+12  1.26683700e+12  2.94518014e+00
  3.56689119e+00 -1.07911218e+01  5.92205228e+00  1.13027043e+00
  1.51270441e+12  2.27313475e+12  6.64516982e+11  6.34283098e+11
  2.48263671e+00  4.79624519e+00 -2.72761406e+00 -2.77211035e+00
  1.08941449e+01  5.05809696e+11  4.16872483e+11  3.97905813e+11
 -2.25685624e+00  1.41505131e+00  6.75529819e-01  2.66312864e+00
  1.73447297e+11  1.42949821e+11  1.36445956e+11  8.51165771e-01
 -3.44665527e-01 -1.29292297e+01  2.15743426e+10  1.77808963e+10
  1.69719094e+10  4.83398438e-01  3.36816406e+00 -7.78947948e+10
 -6.41984462e+10 -6.12775752e+10 -6.88476562e-01 -9.31501497e+10
 -7.67714312e+10 -7.32785204e+10  1.43442257e+11 -5.92094037e+11
 -5.65155218e+11 -1.57365163e+11  1.98648835e+12 -8.47032374e+11]

In [97]:
#fit a regularized Ridge model on polynomial features
ridge = Ridge(alpha = 0.3)
ridge.fit(x_train,y_train)
print("Ridge model : \n",ridge.coef_)

Ridge model :
 [[ 0.          5.10493403 -5.19512655 -0.68525091 -3.58407707 -0.59472988
   2.50880259  2.60951446  0.26813201  0.29700305 -0.65200397 -0.15592502
  -0.18658914 -1.87211636  2.36714266  0.92247471  0.34935604 -2.46637412
   6.38043068 -3.54935764 -0.70620031  2.75669633  0.2101927   0.06506081
   0.04197262  2.31814766 -3.03225248  0.23000684 -0.91124357 -0.93435803
  -0.82859641 -1.24756636 -0.21411772  0.41223765 -0.15970542 -0.01842815
   0.3105427  -2.58613876 -0.73376411  0.90215224 -0.01240857  0.58033762
   0.93282927 -0.55322575 -0.01378484  0.71769112  0.97947237 -0.33377655
   0.23217795  0.18104489 -1.25397605  2.98732837 -1.53569446 -0.51737773
   0.71899413  0.18725947]]

In [98]:
#fit a regularized Lasso model on polynomial features
lasso = Lasso(alpha =0.1)
lasso.fit(x_train,y_train)
print("Lasso model : \n",lasso.coef_)

Lasso model :
 [ 0.         -0.         -0.         -1.22550009 -5.24271063  0.
  2.61210516  0.16802817 -0.28403263  0.06307019  0.         -0.
 -0.          0.          0.20820153 -0.          0.         -0.
  0.42323444 -0.          0.          0.89892668  0.         -0.
 -0.          0.          0.         -0.          0.          0.
 -0.41542247 -0.          0.         -0.         -0.          0.
 -0.         -0.85925262  0.         -0.         -0.          0.34573158
 -0.         -0.81470433  0.          0.21406937  0.02712682 -0.45099765
  0.          0.         -0.         -0.          0.05728204 -0.
  0.         -0.        ]

In [99]:
# Now let us compare their score
print(regression_model.score(x_train,y_train))
print(regression_model.score(x_test,y_test))

0.7626198981314237
0.6243421177090351

In [101]:
print(ridge.score(x_train,y_train))
print(ridge.score(x_test,y_test))

0.914914789734655
0.8648561213386624

In [102]:
print(lasso.score(x_train,y_train))
print(lasso.score(x_test,y_test))

0.8897970413052281
0.878964479699303