In [2]:
import numpy as np
import pandas as pd

In [8]:
dataset = pd.read_csv('House_Price.csv')
dataset.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [9]:
target_y = dataset['price']
data_x = dataset.drop('price', axis = 1)

In [10]:
target_y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: price, dtype: float64

In [11]:
data_x.head()

,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [12]:
data_columns = data_x.columns
data_columns

Index(['crime_rate', 'resid_area', 'air_qual', 'room_num', 'age', 'dist1',
       'dist2', 'dist3', 'dist4', 'teachers', 'poor_prop', 'airport',
       'n_hos_beds', 'n_hot_rooms', 'waterbody', 'rainfall', 'bus_ter',
       'parks'],
      dtype='object')

In [13]:
def discover_outlier(data_1):
    outliers = []
    threshold = 3
    mean_1 = np.mean(data_1)
    std_1 = np.std(data_1)
    for x in data_1:
        z_score = (x - mean_1)/std_1
        if (np.abs(z_score) > threshold):
            outliers.append(x)
    return outliers

In [32]:
q1 = data_x.quantile(0.25)
q3 = data_x.quantile(0.75)
IQR = q3 - q1
IQR

crime_rate      5.392556
resid_area     19.365000
air_qual        0.262500
room_num        1.107000
age            73.575000
dist1           4.646250
dist2           4.578750
dist3           4.762500
dist4           4.567500
teachers        4.200000
poor_prop      15.007500
n_hos_beds      3.680250
n_hot_rooms     4.471500
rainfall       33.000000
parks           0.022398
dtype: float64

In [27]:
# mpg_df = mpg_df.apply(lambda x: x.fillna(x.median()),axis=0)

crime_rate     -0.996466
resid_area     31.317000
air_qual        0.396500
room_num        5.664100
age            30.310000
dist1           1.340750
dist2           1.024250
dist3           1.280000
dist4           1.026500
teachers       18.960000
poor_prop       3.948500
n_hos_beds      5.898450
n_hot_rooms    10.295500
rainfall       21.400000
parks           0.041985
dtype: float64

crime_rate       9.069639
resid_area      67.465000
air_qual         0.886500
room_num         7.730500
age            167.650000
dist1           10.013750
dist2            9.571250
dist3           10.170000
dist4            9.552500
teachers        26.800000
poor_prop       31.962500
n_hos_beds      12.768250
n_hot_rooms     18.642300
rainfall        83.000000
parks            0.083795
dtype: float64

SyntaxError: invalid syntax (<ipython-input-39-d563affaddae>, line 1)

In [1]:
column = data.columns
def get_outlier(df,col):
    q1 = df.col.quantile(0.25)
    q3 = df.col.quantile(0.75)
    IQR = q3 - q1
    lv = q1 - 1.5*IQR
    uv = q3 + 1.5*IQR
    outliers = df[(df.col<lv)|(df.col>uv)]
    new_df = df[(df.col>lv)&(df.col<uv)]
    return outliers,new_data

NameError: name 'data' is not defined

In [ ]:
def get_outlier(data_1):
    new_data = []
    outliers = []
    q1 = data_1.quantile(0.25)
    q3 = data_1.quantile(0.75)
    IQR = q3 - q1
    lv = q1 - 1.5*IQR
    uv = q3 + 1.5*IQR
    for i in data_1:
        if((lv>i) | (uv<i)):
            outliers.append(i)
        else:
            new_data.append(i)
    return outliers,new_data