In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("csvfiles\Data.csv")
#data
#data.head()
#data.head(8)
#data.tail()
data.tail(2)

   Country   Age   Salary Purchased
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
data.index

RangeIndex(start=0, stop=10, step=1)

In [4]:
data.values

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 63777.77778, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 38.77777778, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [5]:
#selecting a column from csv file
coldata=pd.read_csv("csvfiles\Data.csv",squeeze="True",usecols=["Age"])
coldata

0    44.000000
1    27.000000
2    30.000000
3    38.000000
4    40.000000
5    35.000000
6    38.777778
7    48.000000
8    50.000000
9    37.000000
Name: Age, dtype: float64

In [6]:
coldata.index

RangeIndex(start=0, stop=10, step=1)

In [7]:
coldata.values

array([44.        , 27.        , 30.        , 38.        , 40.        ,
       35.        , 38.77777778, 48.        , 50.        , 37.        ])

In [8]:
coldata.dtype

dtype('float64')

In [9]:
coldata.ndim

1

In [10]:
coldata.shape

(10,)

In [11]:
coldata.size

10

In [12]:
coldata.name

'Age'

In [13]:
coldata.name="age"

In [14]:
coldata.name

'age'

In [15]:
coldata

0    44.000000
1    27.000000
2    30.000000
3    38.000000
4    40.000000
5    35.000000
6    38.777778
7    48.000000
8    50.000000
9    37.000000
Name: age, dtype: float64

In [16]:
coldata.sort_values()

1    27.000000
2    30.000000
5    35.000000
9    37.000000
3    38.000000
6    38.777778
4    40.000000
0    44.000000
7    48.000000
8    50.000000
Name: age, dtype: float64

In [17]:
coldata.sort_values(ascending=False)

8    50.000000
7    48.000000
0    44.000000
4    40.000000
6    38.777778
3    38.000000
9    37.000000
5    35.000000
2    30.000000
1    27.000000
Name: age, dtype: float64

In [18]:
coldata.sort_index()

0    44.000000
1    27.000000
2    30.000000
3    38.000000
4    40.000000
5    35.000000
6    38.777778
7    48.000000
8    50.000000
9    37.000000
Name: age, dtype: float64

In [21]:
coldata.sort_index(ascending=False)

9    37.000000
8    50.000000
7    48.000000
6    38.777778
5    35.000000
4    40.000000
3    38.000000
2    30.000000
1    27.000000
0    44.000000
Name: age, dtype: float64

In [23]:
coldata.std()

7.253777219533096

In [25]:
coldata.sum()

387.77777778

In [26]:
coldata.count()

10

In [28]:
coldata.min()

27.0

In [31]:
coldata.max()

50.0

In [30]:
len(coldata)

10

In [32]:
coldata.median()

38.388888890000004

In [33]:
coldata.max()

50.0

In [35]:
coldata.idxmax()

8

In [39]:
coldata.idxmin()

1

In [43]:
coldata[coldata.idxmin()]

27.0

In [44]:
coldata[coldata.idxmax()]

50.0

In [46]:
coldata.value_counts()

38.777778    1
37.000000    1
50.000000    1
48.000000    1
35.000000    1
40.000000    1
38.000000    1
30.000000    1
27.000000    1
44.000000    1
Name: age, dtype: int64

In [51]:
coldata.value_counts(ascending=True)

44.000000    1
27.000000    1
30.000000    1
38.000000    1
40.000000    1
35.000000    1
48.000000    1
50.000000    1
37.000000    1
38.777778    1
Name: age, dtype: int64

In [53]:
coldata.value_counts().sum()

10