In [1]:
import pandas as pd

In [2]:
kulfi=['chocalate','mango','vanilla','straberry','kesar']
kulfi

['chocalate', 'mango', 'vanilla', 'straberry', 'kesar']

In [3]:
pd.Series(kulfi)

0    chocalate
1        mango
2      vanilla
3    straberry
4        kesar
dtype: object

In [4]:
s=pd.Series(kulfi)
s

0    chocalate
1        mango
2      vanilla
3    straberry
4        kesar
dtype: object

In [5]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
s.values

array(['chocalate', 'mango', 'vanilla', 'straberry', 'kesar'],
      dtype=object)

In [7]:
s.dtype

dtype('O')

In [8]:
# method
rate=[3.99,4,4.45,32.11,5.01]
r=pd.Series(rate)
r

0     3.99
1     4.00
2     4.45
3    32.11
4     5.01
dtype: float64

In [9]:
r.sum()

49.559999999999995

In [10]:
r.product()

11425.387264199999

In [22]:
r.mean()

9.911999999999999

In [12]:
# parameter
fruits=['Apple','Mango','Guava','Pineapple','Grapes','Orange','Cherry']
weekdays=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
w=pd.Series(fruits,weekdays)
w

Mon        Apple
Tue        Mango
Wed        Guava
Thu    Pineapple
Fri       Grapes
Sat       Orange
Sun       Cherry
dtype: object