In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/h.p/csvfiles/aapl.csv')
df.head()

        Date    Open    High     Low   Close    Volume
0   7-Jul-17  142.90  144.75  142.90  144.18  19201712
1   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2   5-Jul-17  143.69  144.79  142.72  144.09  21569557
3   3-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    251 non-null    object
 1   Open    251 non-null    float64
 2   High    251 non-null    float64
 3   Low     251 non-null    float64
 4   Close   251 non-null    float64
 5   Volume  251 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 11.9+ KB

In [5]:
def date_difference(data):
    for col in df.columns:
        if df[col].dtype == 'object':
            try:
                df[col] = pd.to_datetime(df[col])
            except ValueError:
                pass
            
    df1 = df[col]
    df2 = df1[1:]
    data['Difference'] = df1 - df2
    return data

In [6]:
df = date_difference(df)

In [7]:
df.head()

        Date    Open    High     Low   Close    Volume  Difference
0 2017-07-07  142.90  144.75  142.90  144.18  19201712         NaN
1 2017-07-06  143.02  143.50  142.41  142.73  24128782         0.0
2 2017-07-05  143.69  144.79  142.72  144.09  21569557         0.0
3 2017-07-03  144.88  145.30  143.10  143.50  14277848         0.0
4 2017-06-30  144.45  144.96  143.78  144.02  23024107         0.0