In [68]:
import numpy as np
import pandas as pd

In [69]:
data = pd.read_csv("Height_weight.csv")

In [70]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [71]:
column = data.columns
column

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [12]:
column[1]

'Height'

In [13]:
data[column[1]]

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [14]:
def get_outlier(data_1,col_index):
    column = data_1.columns
    new_data = []
    outliers = []
    q1 = data_1[column[col_index]].quantile(0.25)
    q3 = data_1[column[col_index]].quantile(0.75)
    IQR = q3 - q1
    lv = q1 - 1.5*IQR
    uv = q3 + 1.5*IQR
    for i in data_1[column[col_index]]:
        if((lv>i) | (uv<i)):
            outliers.append(i)
        else:
            new_data.append(i)
            
    new_df = data_1[data_1[column[col_index]]]
    return outliers,new_data,new_df

In [37]:
data.head(50)

   Gender     Height      Weight
0    Male  73.847017  241.893563
1    Male  68.781904  162.310473
2    Male  74.110105  212.740856
3    Male  71.730978  220.042470
4    Male  69.881796  206.349801
5    Male  67.253016  152.212156
6    Male  68.785081  183.927889
7    Male  68.348516  167.971110
8    Male  67.018950  175.929440
9    Male  63.456494  156.399676
10   Male  71.195382  186.604926
11   Male  71.640805  213.741169
12   Male  64.766329  167.127461
13   Male  69.283070  189.446181
14   Male  69.243732  186.434168
15   Male  67.645620  172.186930
16   Male  72.418317  196.028506
17   Male  63.974326  172.883470
18   Male  69.640060  185.983958
19   Male  67.936005  182.426648
20   Male  67.915050  174.115929
21   Male  69.439440  197.731422
22   Male  66.149132  149.173566
23   Male  75.205974  228.761781
24   Male  67.893196  162.006652
25   Male  68.144033  192.343977
26   Male  69.089631  184.435174
27   Male  72.800844  206.828189
28   Male  67.421242  175.213922
29   Male  68.496415  154.342639
30   Male  68.618111  187.506843
31   Male  74.033808  212.910225
32   Male  71.528216  195.032243
33   Male  69.180161  205.183621
34   Male  69.577202  204.164125
35   Male  70.400929  192.903515
36   Male  69.076171  197.488243
37   Male  67.193523  183.810973
38   Male  65.807316  163.851825
39   Male  64.304188  163.108017
40   Male  67.974336  172.135597
41   Male  72.189426  194.045405
42   Male  65.270346  168.617746
43   Male  66.090177  161.193433
44   Male  67.510322  164.660277
45   Male  70.104786  188.922303
46   Male  68.251836  187.060552
47   Male  72.172709  209.070863
48   Male  69.179858  192.014335
49   Male  72.870360  211.342497

In [18]:
data[column[1]]

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [49]:
data.shape

(10000, 3)

In [72]:
def get_outlier(data_1,col_index):
    column = data_1.columns
    q1 = data_1[column[col_index]].quantile(0.25)
    q3 = data_1[column[col_index]].quantile(0.75)
    IQR = q3 - q1
    lv = q1 - 1.5*IQR
    uv = q3 + 1.5*IQR
    outliers = data_1[(data_1[column[col_index]]<lv) | (data_1[column[col_index]]>uv)]
    data_1 = data_1[(data_1[column[col_index]]>lv) &(data_1[column[col_index]]<uv)]
    return outliers,data_1

In [73]:
outlier,data = get_outlier(data,1)

In [74]:
outlier.shape

(8, 3)

In [22]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9992 rows x 3 columns]

In [58]:
data.shape

(10000, 3)

In [59]:
column = data.columns

In [60]:
q1 = data[column[1]].quantile(0.25)

In [61]:
q3 = data[column[1]].quantile(0.75)

In [62]:
q1,q3

(63.505620481218955, 69.1742617268347)

In [63]:
IQR = q3 - q1
IQR

5.668641245615746

In [43]:
lv = q1 - 1.5*IQR
uv = q3 + 1.5*IQR

In [44]:
lv,uv

(55.01863880448366, 77.65983366364458)

55.01863880448366

In [64]:
outliers = data[(data[column[1]]<lv) &(data[column[1]]>uv)]

In [65]:
outliers

Empty DataFrame
Columns: [Gender, Height, Weight]
Index: []

In [66]:
outl = data[(data[column[1]]>lv) &(data[column[1]]<uv)]

In [67]:
outl

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9992 rows x 3 columns]