In [14]:
import numpy as np
import pandas as pd

In [21]:
data = pd.read_csv('C:/Users/h.p/csvfiles/Boston.csv')
data.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [22]:
corr_matrix = data.corr().abs()
corr_matrix

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
Unnamed: 0,1.000000,0.407407,0.103393,0.399439,0.003759,0.398736,0.079971,0.203784,0.302211,0.686002,0.666626,0.291074,0.295041,0.258465,0.226604
crim,0.407407,1.000000,0.200469,0.406583,0.055892,0.420972,0.219247,0.352734,0.379670,0.625505,0.582764,0.289946,0.385064,0.455621,0.388305
zn,0.103393,0.200469,1.000000,0.533828,0.042697,0.516604,0.311991,0.569537,0.664408,0.311948,0.314563,0.391679,0.175520,0.412995,0.360445
indus,0.399439,0.406583,0.533828,1.000000,0.062938,0.763651,0.391676,0.644779,0.708027,0.595129,0.720760,0.383248,0.356977,0.603800,0.483725
chas,0.003759,0.055892,0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,0.099176,0.007368,0.035587,0.121515,0.048788,0.053929,0.175260
nox,0.398736,0.420972,0.516604,0.763651,0.091203,1.000000,0.302188,0.731470,0.769230,0.611441,0.668023,0.188933,0.380051,0.590879,0.427321
rm,0.079971,0.219247,0.311991,0.391676,0.091251,0.302188,1.000000,0.240265,0.205246,0.209847,0.292048,0.355501,0.128069,0.613808,0.695360
age,0.203784,0.352734,0.569537,0.644779,0.086518,0.731470,0.240265,1.000000,0.747881,0.456022,0.506456,0.261515,0.273534,0.602339,0.376955
dis,0.302211,0.379670,0.664408,0.708027,0.099176,0.769230,0.205246,0.747881,1.000000,0.494588,0.534432,0.232471,0.291512,0.496996,0.249929
rad,0.686002,0.625505,0.311948,0.595129,0.007368,0.611441,0.209847,0.456022,0.494588,1.000000,0.910228,0.464741,0.444413,0.488676,0.381626
tax,0.666626,0.582764,0.314563,0.720760,0.035587,0.668023,0.292048,0.506456,0.534432,0.910228,1.000000,0.460853,0.441808,0.543993,0.468536
ptratio,0.291074,0.289946,0.391679,0.383248,0.121515,0.188933,0.355501,0.261515,0.232471,0.464741,0.460853,1.000000,0.177383,0.374044,0.507787
black,0.295041,0.385064,0.175520,0.356977,0.048788,0.380051,0.128069,0.273534,0.291512,0.444413,0.441808,0.177383,1.000000,0.366087,0.333461
lstat,0.258465,0.455621,0.412995,0.603800,0.053929,0.590879,0.613808,0.602339,0.496996,0.488676,0.543993,0.374044,0.366087,1.000000,0.737663
medv,0.226604,0.388305,0.360445,0.483725,0.175260,0.427321,0.695360,0.376955,0.249929,0.381626,0.468536,0.507787,0.333461,0.737663,1.000000

In [23]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(np.bool))

In [24]:
print(upper)

            Unnamed: 0      crim        zn     indus      chas       nox  \
Unnamed: 0         NaN  0.407407  0.103393  0.399439  0.003759  0.398736
crim               NaN       NaN  0.200469  0.406583  0.055892  0.420972
zn                 NaN       NaN       NaN  0.533828  0.042697  0.516604
indus              NaN       NaN       NaN       NaN  0.062938  0.763651
chas               NaN       NaN       NaN       NaN       NaN  0.091203
nox                NaN       NaN       NaN       NaN       NaN       NaN
rm                 NaN       NaN       NaN       NaN       NaN       NaN
age                NaN       NaN       NaN       NaN       NaN       NaN
dis                NaN       NaN       NaN       NaN       NaN       NaN
rad                NaN       NaN       NaN       NaN       NaN       NaN
tax                NaN       NaN       NaN       NaN       NaN       NaN
ptratio            NaN       NaN       NaN       NaN       NaN       NaN
black              NaN       NaN       NaN       NaN       NaN       NaN
lstat              NaN       NaN       NaN       NaN       NaN       NaN
medv               NaN       NaN       NaN       NaN       NaN       NaN

                  rm       age       dis       rad       tax   ptratio  \
Unnamed: 0  0.079971  0.203784  0.302211  0.686002  0.666626  0.291074
crim        0.219247  0.352734  0.379670  0.625505  0.582764  0.289946
zn          0.311991  0.569537  0.664408  0.311948  0.314563  0.391679
indus       0.391676  0.644779  0.708027  0.595129  0.720760  0.383248
chas        0.091251  0.086518  0.099176  0.007368  0.035587  0.121515
nox         0.302188  0.731470  0.769230  0.611441  0.668023  0.188933
rm               NaN  0.240265  0.205246  0.209847  0.292048  0.355501
age              NaN       NaN  0.747881  0.456022  0.506456  0.261515
dis              NaN       NaN       NaN  0.494588  0.534432  0.232471
rad              NaN       NaN       NaN       NaN  0.910228  0.464741
tax              NaN       NaN       NaN       NaN       NaN  0.460853
ptratio          NaN       NaN       NaN       NaN       NaN       NaN
black            NaN       NaN       NaN       NaN       NaN       NaN
lstat            NaN       NaN       NaN       NaN       NaN       NaN
medv             NaN       NaN       NaN       NaN       NaN       NaN

               black     lstat      medv
Unnamed: 0  0.295041  0.258465  0.226604
crim        0.385064  0.455621  0.388305
zn          0.175520  0.412995  0.360445
indus       0.356977  0.603800  0.483725
chas        0.048788  0.053929  0.175260
nox         0.380051  0.590879  0.427321
rm          0.128069  0.613808  0.695360
age         0.273534  0.602339  0.376955
dis         0.291512  0.496996  0.249929
rad         0.444413  0.488676  0.381626
tax         0.441808  0.543993  0.468536
ptratio     0.177383  0.374044  0.507787
black            NaN  0.366087  0.333461
lstat            NaN       NaN  0.737663
medv             NaN       NaN       NaN

In [25]:
to_drop = [column for column in upper.columns if any(upper[column]> 0.85)]
print(to_drop)

['tax']

In [26]:
df=data.drop(data[to_drop], axis = 1)

In [27]:
df

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,21.0,396.90,7.88,11.9

In [5]:
corr = data.corr()

In [9]:
columns = np.full((corr.shape[0]),True,dtype = True)

In [11]:
columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [8]:
for i in range(corr.shape[0]):
    for j in range(i+1,corr.shape[0]):
        if corr.iloc[i,j]>=0.85:
            if columns[j]:
                columns[j]=False
selected_columns = data.columns[columns]

In [26]:
selected_columns

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [27]:
data = data[selected_columns]

In [28]:
data

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,21.0,396.90,7.88,11.9